@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    overflow-x: hidden;
}

.page{
    width: 100vw;
    height: 100vh;
    display:inline-block;
}

.sidebar{
    /* background-color: blue; */
    width: 20vw;
    height: 100vh;
    border-right: 1px solid black;
    position: fixed
}

.namepos{
    font-family: Roboto;
    font-weight: 500;
    font-size: 2.5vw;
    text-align: start;
    padding-top: 20%;
    margin-left: 4vw;
}

.username{
    font-family: Roboto;
    text-align: start;
    font-size: 0.9vw;
    margin-top: 1.3vh;
    margin-left: 4vw;
}

.links{
    overflow-y: hidden;
    text-decoration: none;
    color:black;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vw;
    text-align: center;
    margin-top: 2vh;
}

.icon{
    width: 1.6vw;
    height: 1.6vw;
    margin-right: 0.7vw;
    color:solid #70E864 ;
    
}

.postcontainer{
    display: inline-block;
    width: 43vw;
    height: 26vh;
    background-color:#FFFFFF;
    border: 2px solid #70E864;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.25);
    margin-left: 39%;
    margin-top: 4%;
    border-radius: 10px;
    overflow-y:hidden;
    
}
.usernamecontainer{
    font-size: 1.62vw;
    font-weight: 500;
    margin-top: 2.5vh;
    margin-left: 3.8vw;
    background-color: #FFFFFF;
}

.postinput{
    overflow-y:hidden;
    resize:none;
    margin-top: 1.4vh;
    margin-left: 3.8vw;
    flex-direction: row-reverse;
    outline: none;
    border: 0;
    background-color: #FFFFFF;
    width: 36vw;
    height: 6.1vh;
    font-family: Roboto;
    font-size: 1vw;
}

.submitbutton{
    font-family: Roboto;
    font-weight: 600;
    font-size: 0.8vw;
    width: 8vw;
    height: 5.5vh;
    background-color: #6AE01A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 32vw;
    margin-top: 1.5vh;
    border: 0;
    cursor:pointer;

}

.submitbutton:hover{
    font-family: Roboto;
    font-weight: 600;
    font-size: 0.8vw;
    width: 8vw;
    height: 5.5vh;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color:#000000;
    margin-left: 32vw;
    margin-top: 1.5vh;
    border:2px #6AE01A solid;
    cursor:pointer;
    transition: 1s;

}

.heartbutton{
    font-family: Roboto;
    font-weight: 600;
    font-size: 0.8vw;
    width: 4vw;
    height: 5.5vh;
    background-color: #ffffff;
   
    color: #000000;
    margin-left: 38vw;
    margin-top: 1.5vh;
    border: 0;
    cursor:pointer;

}
.heartbutton:hover{
    font-family: Roboto;
    font-weight: 600;
    font-size: 0.8vw;
    width: 8vw;
    height: 5.5vh;
    background-color: #e21a0b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color:#000000;
    margin-left: 32vw;
    margin-top: 1.5vh;
    border:2px #0c0c0c solid;
    cursor:pointer;
    transition: 1s;

}

.iconlocation{
    margin-top: 25%;
}